*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/captures
.externalNativeBuild
.cxx
local.properties
.DS_Store

# APK files
*.apk

# Firebase
google-services.json
